[user]
	name = Michael Kramer
	email = michaelrkramer@gmail.com
[push]
	default = current
[pull]
	rebase = true
[core]
	editor = code
	excludesfile = /Users/michaelkramer/.gitignore_global
[alias]
	fml = push --force-with-lease
	pl = pull
	co = checkout
	nb = checkout -b
	up = push
	all = add -A
	msg = commit -m
	m = !git add -A && git commit -m
	amend = !git all && git commit --amend --no-edit
